body{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.container{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4{
    background-color: chocolate;
    outline-color: beige;
    color: rgb(30, 82, 68);
    border-width: 1px;
    border-color: #D6A800;
    padding: 10px;
}

a{
    color: lightsalmon;
    text-decoration: none;
}

a.submit:hover {
    background-color: rosybrown
}

a:visited {
    color: seagreen
}

.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}