/* Tatiyana Dean */

h1{
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.leftdiv{
    width: 45%;
}

.rightdiv{
    width: 45%;
}

.lastdiv{
    width: 100%;
    margin-top: 60%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h3{
    font-weight: 500;
}

ul, ol{
    font-weight: 300;
}

ol{
    border-radius: 15px;
    border-color: red;
    padding: 10px;
    list-style-position: inside;
}

ul{
    border-radius: 15px;
    border-style: dashed;
    border-color: red;
    padding: 10px;
    list-style: upper-roman;
}

a{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    text-decoration: none;
}

a.submit:hover{
    text-decoration: underline;
}

.lastdiv{
    float: right;
    margin-bottom: 20px;
}